<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::ToDo List App</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <header>
        <h1>
            Simple ToDo List App::
        </h1>
    </header>
    <main>
        <section class="frm-todo">
            <form method="POST" action="/">
                <input type="text" name='addTask' placeholder="Enter a Task ToDo" require autocomplete="off" />
                <button type="submit" id="btn-add"><span class="fas fa-plus"></span></button>
            </form>
        </section>

        <section class="task-list">
            <ul class="todo-list">
                <% todoTasks.forEach(details => { %>
                <% if (details._id == idTask) { %>
                <li class="todo-list-item">
                    <form action="/edit/<%= details._id %>" method="POST">
                        <input type="text" value="<%= details.addTask %>" name="addTask" />
                        <span class="icons">
                            <button type="submit" class="tick"><span class="fas fa-check"></span></button>
                            <a href="/" class="cancel"><span class="fas fa-times"></span></a>
                        </span>
                    </form>
                </li>
                <% } else { %>
                <li class="todo-list-item">
                    <span class="todo-list-item-name"><%= details.addTask %></span>
                    <span class="icons">
                        <a href="/edit/<%= details._id %>" class="edit"> <span class="fas fa-pen"></span>
                        </a>
                        <a href="/complete/<%= details._id %>" class="tick" title="Mark Done?">
                            <span class="fas fa-check"></span>
                        </a>
                        <a href="/remove/<%= details._id %>" class="remove"> <span class="fas fa-trash"></span>
                        </a>
                    </span>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>